@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  margin: 0 5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  min-height: 8vh;
  padding: 0.8rem 1.6rem;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);

}

.navbar-avatar {
  width: 4rem;
  border-radius: 50%;

}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

.navbar-mobile > a, .navbar-links > a {
  color: black;
  font-size: 16px;
  padding: 1rem;
  cursor: pointer;
  font-family: "Louis Bold", sans-serif;
}

.mobile-menu-icon {
  display: none;
}

button {
  border: none;
  text-decoration: none;
  font-size: 20px;
  background: none;
}



@media (max-width: 700px) {
  .navbar {
    width: 100vw;
    margin: 0;
  }

  .navbar-avatar {
    display: flex;
    position: absolute;
    top: 1.5rem;
    left: 2rem;
  }

  .navbar-links {
    display: none;
  }

  .navbar-mobile {
    position: fixed;
    top: 8vh;
    width: 100%;
    left: 0;
    background-color: white;
  }

  .navbar-mobile>a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
  }

  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
  }
}