.portfolio {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.portfolio-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
}


















.projectCard {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}


.projectCard>h2 {
    font-family: "Louis Bold", sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 1rem;

}

.projectCard>h4 {
    font-family: "Louis Bold", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 1rem;
}

.projectCard-img {
    width: 35vw;
    margin-top: 3.5rem;
    opacity: 0.5;
}





.projectCard-button {
    margin-bottom: 25px;
    background-color: none;
    position: relative;
    top: -40%;
    left: 40%;

}

.projectCard-button>a::before {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid transparent;
}

.projectCard-button>a span {
    color: #ffffff;
}

.projectCard-button>a svg {
    stroke: #ffffff;
}

.projectCard-button>a:hover::before {
    border: 1px solid rgba(255, 73, 82, 0.6);
}

.projectCard-button a {
    text-decoration: none;
    color: inherit;
    font-family: "Louis Bold";
}

.projectCard-button>a {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
}

.projectCard-button>a:hover::before {
    width: 35%;
    background: #ff4952;
}

.projectCard-button>a:hover span {
    color: #ffffff;
}

.projectCard-button>a:hover svg {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    stroke: #ffffff;
}

.projectCard-button>a::before {
    content: "";
    position: absolute;
    top: 5;
    left: -10px;
    display: block;
    border-radius: 30px;
    background: rgba(255, 73, 82, 0);
    border: 1px solid rgba(255, 73, 82, 0.6);
    border-right: 1px solid transparent;
    width: 60px;
    height: 60px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.projectCard-button>a span {
    position: relative;
    font-size: 18px;
    line-height: 0.56;
    font-weight: 900;
    vertical-align: middle;
    color: #ffffff;
}

.projectCard-button>a svg {
    position: relative;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.projectCard-button>a:active {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
}
















@media (max-width: 990px) {

    .portfolio {
        align-items: center;
    }

    .portfolio-body {
        align-items: center;
        justify-content: center;
    }

    .projectCard {
        margin: 3rem !important;
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;
        text-align: center !important;
    }

    .projectCard-img {
        width: 60vw;
    }
}