.services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    width: 100%;
}

.services-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-icon-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35vw;
}

.service-icon-block {
    padding: 0 8%;
}

.service-icon {
    max-width: 50px;
    margin-bottom: 25px;
    margin-top: 35px;
}

.service-name {
    font-family: "Louis Regular", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}

.services-right {
    margin: 5vw;
}

.services-right>img {
    border-radius: 8px;
    width: 390px;
}


@media (max-width: 990px) {

    .services {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-top: 5rem;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .services-left {
        flex-direction: column;
        align-items: center;
    }

    .services-right>img {
        border-radius: 8px;
        width: 70vw;
    }
    .service-icon-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}