.skills-body{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4rem 2.5rem;
}

.skills-image{
    width: 40rem;
    margin-right: 8%;
    border-radius: 8px;
}

.skills-row{
    padding: 0 1.5rem;
    flex: 33%;
    
}

.list-column{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.list-column > *{
    display: flex;
    width: 100%;
    float: left;
    min-width: 12rem;
}

.list-item-head{
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    letter-spacing: 0.8px;
    padding: 1.2rem 0;
    color: #212529;
    font-weight: 400;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-family: "Louis Bold", sans-serif;
}

.list-item{
    padding: 1.2rem 0;
    font-size: 1.6rem;
    font-weight: 300;
    color: #212529;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "Louis Regular",sans-serif;
    line-height: 2.4rem;
}

.tool-icon{
    width: 5%;
}

@media (max-width: 990px) {

    .skills-row{
        margin-bottom: 3rem;
    }

    .skills-body{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .skills-image{
        display: none;
    }

    .list-column > *{
        display: inline-block;
        width: 70vw;
    }

}