.testimonials {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.testimonials-body{
    display: flex;
    flex-wrap: wrap;
}































.testimonialCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height:40vh;
    background-color: #fff;
    border-radius: 5px;
    border: .75px solid rgba(0,0,0,.25)!important;
    padding: 4rem;
    margin: 3rem 2rem;
    max-width: 38vw;

}

.avatar-image {
    width: 92px;
    height: 92px;
    border-radius: 8px;
    margin-right: 20px;
}
.testimonialCard-head{
    margin-bottom:4rem;
    display: flex;
    align-items: center;

}

.testimonialCard-start{
    display: flex;
}
.testimonialCard-start > *{
    color: gold !important;
    font-size: 3rem !important;;
}

.testimonialCard-review > h3{
    margin-bottom: 3rem;
    opacity: 0.7;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    font-family: "Louis Bold",sans-serif;
    max-width: 100%;

}

.testimonialCard-reviewer-details > h3{
    margin-bottom: 0.8rem;
    opacity: 0.7;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: "Louis Bold",sans-serif;
    max-width: 100%;
}